In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("titanic.csv")
df.head()

,Name,PClass,Age,Sex,Survived
0,"Allen, Miss Elisabeth Walton",1st,29.00,female,1
1,"Allison, Miss Helen Loraine",1st,2.00,female,0
2,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0
3,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0
4,"Allison, Master Hudson Trevor",1st,0.92,male,1

In [4]:
df.drop(['Name'],axis='columns',inplace=True)
df.head()

  PClass    Age     Sex  Survived
0    1st  29.00  female         1
1    1st   2.00  female         0
2    1st  30.00    male         0
3    1st  25.00  female         0
4    1st   0.92    male         1

In [5]:
inputs = df.drop('Survived',axis='columns')
target = df.Survived

In [6]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head()

   female  male
0       1     0
1       1     0
2       0     1
3       1     0
4       0     1

In [7]:
dumy = pd.get_dummies(inputs.PClass)
dumy.head()

   1st  2nd  3rd
0    1    0    0
1    1    0    0
2    1    0    0
3    1    0    0
4    1    0    0

In [8]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs = pd.concat([inputs,dumy],axis='columns')
inputs.head()

  PClass    Age     Sex  female  male  1st  2nd  3rd
0    1st  29.00  female       1     0    1    0    0
1    1st   2.00  female       1     0    1    0    0
2    1st  30.00    male       0     1    1    0    0
3    1st  25.00  female       1     0    1    0    0
4    1st   0.92    male       0     1    1    0    0

In [9]:
inputs.drop(['Sex','PClass'],axis='columns',inplace=True)
inputs.head()

     Age  female  male  1st  2nd  3rd
0  29.00       1     0    1    0    0
1   2.00       1     0    1    0    0
2  30.00       0     1    1    0    0
3  25.00       1     0    1    0    0
4   0.92       0     1    1    0    0

In [10]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [11]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

     Age  female  male  1st  2nd  3rd
0  29.00       1     0    1    0    0
1   2.00       1     0    1    0    0
2  30.00       0     1    1    0    0
3  25.00       1     0    1    0    0
4   0.92       0     1    1    0    0

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [14]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [15]:
model.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [16]:
model.score(X_test,y_test)

0.7414448669201521

In [17]:
pred = model.predict(X_test)

In [18]:
print (pred[:])

[0 0 1 0 1 1 0 1 0 0 0 1 1 1 0 0 0 0 0 0 1 0 0 0 1 0 0 1 1 0 0 0 1 1 0 0 1
 0 0 0 0 0 1 1 1 1 0 0 0 0 0 0 1 0 1 1 1 0 0 0 0 0 1 1 1 1 0 1 0 1 0 1 1 0
 0 0 1 0 0 0 0 0 0 0 1 1 0 1 0 1 0 0 1 0 1 0 0 1 1 0 1 0 0 1 1 1 0 0 0 0 1
 0 0 1 1 0 1 0 1 0 0 0 0 1 0 0 0 0 1 0 1 1 0 1 1 0 1 0 1 1 1 0 0 0 0 0 1 1
 0 1 0 0 1 1 1 1 0 1 0 1 0 0 0 0 1 1 0 0 0 1 1 0 0 0 1 0 0 1 0 0 1 1 0 1 1
 0 1 1 0 0 0 0 1 0 1 1 1 0 0 1 0 1 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 1 0 0 1
 0 0 1 0 0 1 1 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 1 1 1 0 0 0 0 0
 0 1 0 0]

In [20]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.7414448669201521

In [21]:
from sklearn.svm import SVC

In [22]:
model = SVC()
model.fit(X_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [23]:
pred = model.predict(X_test)

In [24]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.6844106463878327

In [25]:
from sklearn.svm import SVC
model = SVC(C=50.0)
model.fit(X_train,y_train)
pred = model.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.8174904942965779

In [26]:
from sklearn.svm import SVC
model = SVC(C=500.0)
model.fit(X_train,y_train)
pred = model.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.8212927756653993

In [27]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(X_train,y_train)
pred = model.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.8060836501901141

In [29]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()
model.fit(X_train,y_train)
pred = model.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.7946768060836502

In [30]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=5)
model.fit(X_train,y_train)
pred = model.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.7946768060836502

In [31]:
from sklearn.svm import SVC
model = SVC(C=500.0)
model.fit(X_train,y_train)
pred = model.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.8212927756653993

In [32]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=50)
model.fit(X_train,y_train)
pred = model.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.7376425855513308

In [33]:
from sklearn.ensemble import AdaBoostClassifier
model = AdaBoostClassifier(n_estimators=5, random_state=0)
model.fit(X_train,y_train)
pred = model.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.8136882129277566